/*
Theme Name: Heineken Child
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating wil be much easier then.
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
Template: heineken
*/

/*Add your own styles here:*/

/******************************
        Fonts
******************************/
@font-face {
    font-family: 'Heineken-Core';
    src: url('../heineken/fonts/HEINEKEN_Core.ttf');
    font-weight: normal;
}


/******************************
        Header
******************************/
#header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 6.25rem;
}
#header.header-scrolled {
    height: 3.125rem;
}
#header_main {
    border-bottom-width: 0px !important;
}
#header img {
    width: 12.5rem;
    top: .875rem;
    overflow: hidden;
    transition: top .4s, width .4s;
}
#header.header-scrolled img {
    top: .125rem;
    width: 8.75rem;
}
.av_seperator_small_border .av-main-nav > li > a > .avia-menu-text {
    font-family: 'Heineken-Core' !important;
}